@mixin spacing {
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
}

h1 {}

form {
    @include spacing;
    label {
        margin: 5px;
    }
    select {
        margin: 5px;
    }
}

.results {
    @include spacing;
}

ul {
    padding: 0
    
    li {
        list-style: none;
        padding: 5px 0;
    }
}

.error {
    @include spacing;
    color: red;
}